body {
    font-family: 'Noto Sans JP', Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app-container {
    padding: 20px;
    border-radius: 20px;
    gap: 50px 30px 0 0;
    align-items: center;
    justify-content: center;
    /* max-width: 90vw; */
}

.page-wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    min-width: 150px;
    /* max-width: 100%; */
    height: auto;
}

.introduce-app {
    color: #606060;
    font-size: 120px;
    font-weight:  bold;
    vertical-align: middle;
    display: inline-block;
    width: 15vw;
    margin: 80px 10px;
    padding: 10px 50px;
    line-height: 125px;
}

.header{
    height:120px;
    background:#f09c8a;
    color:#fff;
    width:100%;
  }
  
.header .nav li.active a {
  color: gray;            /* 文字色を灰色に */
  border-bottom: 2px solid gray; /* 下に線を付ける */
}

.header .nav li a {
  text-decoration: none; /* 通常のリンクは下線なし */
}

/* マウスオーバー時のスタイル（オプション） */
.header .nav li.header-hover-color a:hover {
    color: gray;
}

  .logo{
    width: 200px;  /* お好みの幅に調整 */
    height: auto;  /* 高さは自動調整 */
    display: block; /* 画像をブロック要素にして余白を管理 */
    margin: 0 10px;
    line-height:60px;
    float:left;
  }
  .nav{
    list-style:none;
    float:left;
  }
  .nav li{display:inline-block;}
  .nav li a{
    display:inline-block;
     padding:20px 20px;
     font-size:25px;
    color:inherit;
    text-decoration:none;
  }
  
  .container{
    max-width: 1200px;
    padding:10px 15px;
    width:100%;
  }

  .container:after {
      clear: both;
      content: "";
      display: table;
  }

  .container{
    max-width: 1200px;
    padding:10px 15px;
    width:100%;
  }

  .container:after {
      clear: both;
      content: "";
      display: table;
  }

  .suspicious-container{
    position: fixed;
    position: relative; /* 今の位置を基準 */
    top: 20px; /* 上から移動 */
    left: 70px; /* 左から移動 */
  }
  